body {
    background-color: #1d5692;
}

#page {
    margin: 54px 76px;
    padding: 54px, 108px;
    width: 80%;
}

#page-title {
    text-align: center;
    color: #2e7ad9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#page-subtitle {
    text-align: center;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

#nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    background: white;
    padding: 10px 0;
    margin: 15px 0 25px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
}

.custom-toggler.navbar-toggler {
    border-color: #2e7ad9;
} 

navbar-nav {
    display: inline-block;
    list-style-type: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0 !important;
    -ms-flex-align: center;
    align-items: center;
}

nav li {
    display: inline;
}

nav ul a {
    text-decoration: none;
    color: gray;
    padding: 0 10px;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: #2e7ad9;
}

.active {
    color: #2e7ad9 !important;
}

footer {
    font-size: small;
}